body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

h2{
  text-align: center;
  width: 100%;
}

button {
  cursor: pointer;
}

#score {
  margin: 3% auto;
  border: solid;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

#score-text {
  text-align: center;
  width: 100%;
}

#ply-opt {
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  border: solid;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}

#cpu-opt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#cpu-choice {
  height: 150px;
  width: 150px;
  border: solid;
  border-radius: 2px;
  border-color: black;
}

#reset-btn {
  width: fit-content;
  border: solid;
  border-radius: 2px;
  border-color: black;
}

.ply-btn {
  border: solid;
  border-radius: 2px;
  border-color: black;
}